{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" type="text/css">
    <title>Cars</title>
</head>
<body>
    <div class="content-wrapper">
        <h1 class="header">Список крутых авто</h1>
        <ul>
            {% for car in cars %}
                <li>
                    <a href="/details/{{car.id}}">{{car.name}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>