body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --color-primary: #c5fff0;
  --color-secondary: #454545;


  --color-hover: #585858;

  --size-header: 24px;
  --size-text: 16px;
}

@media screen and (max-width: 320px) {
  :root {
    --size-header: 22px;
    --size-text: 14px;
  }
}
