body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    width: 100%;
    height: 100%;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.main {
    justify-content: center;
    align-items: center;
}

.button__main {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

h1, h2 {
    color: red;
}

.content-container {
    justify-content: space-around;
    align-items: center;
}