.button {
    padding: 4px 8px;
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    transition: 0.2s ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: var(--color-hover);
    }
}
