{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 5</title>
</head>
<body>
    <div>
        <h1>Список процессоров</h1>
        <a href="/">На главную</a>
        <ul>
            {% for proc in processors %}
                <li>
                    <a href="/proc/{{proc.id}}">{{proc.title}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>